.auth-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);

  .form {
    width: 350px;
    max-width: 100%;
    margin: 0 auto;
  }

  .auth-form {
    flex: 1;

    &.single-input {
      .actions {
        margin-top: $distance-default * 2;
      }
    }

    .actions {
      margin-top: $distance-default * 4;

      &.primary {
        text-align: right;
      }

      a {
        float: left;
        float: left;
        padding: 1em 0;
      }
    }

    .logo {
      margin: 0 auto;
      width: 80%;
      margin-bottom: $distance-default * 5;
    }
  }

  .auth-side {
    width: 60%;
    background-image: url('#{$image-base}/note_book.jpg');
    background-size: cover;
    background-position: center;
  }
}
