body {
  color: $primary;
}


.app-container {
  display: flex;
  height: 100vh;
}


.main-container {
  position: relative;
  width: 100%;
  overflow: auto;
  background: $grey-light-below-2;

  .content {
    width: 100%;
    height: 100%;
    padding: $distance-default * 2 $distance-default * 3;
    padding-top: $top-nav-height + $distance-default * 3;
    overflow: auto;

    .floating-action-button {
      position: absolute;
      right: $distance-default * 3;
      bottom: $distance-default * 3;
    }
  }

  .controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: $distance-default * 3;

    .button {
      margin-left: $distance-default;
    }
  }

  .top-nav {
    position: fixed;
    width: 100%;
    height: $top-nav-height;
    top: 0;
    z-index: 1;
    background: #FFF;
    box-shadow: $box-shadow-default;

    .ui.breadcrumb {
      position: absolute;
      left: $distance-default * 3;
      top: 50%;
      transform: translateY(-50%);

      > * {
        font-size: $font-size-above;
        text-transform: capitalize;
      }
    }
  }

  .ui.inline.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

    &:after {
      border-top-color: $blue;
    }
  }
}


.ui {
  &.segment {
    font-size: $font-size-default;
  }
}


.drag-handle:hover,
.is-dragging {
  cursor: move;
}
