.ui.button,
.ui.buttons .button,
.ui.buttons .or {
  padding: 1em 3.5em;
  font-weight: 400;

  &.primary {
    color: #FFF;
    background-color: $blue;
    border: 2px solid $blue;
    @include box-shadow-above(rgba(70, 128, 255, 0.75));

    &:hover {
      transition: all 0.25s ease-out;
      background-color: $blue;
      @include box-shadow-above-2(rgba(70, 128, 255, 0.75));
    }

    &:active,
    &:focus {
      background-color: $blue;
    }

    &:disabled {
      opacity: 0.8 !important;
    }
  }

  &.secondary {
    color: #FFF;
    background-color: $grey-light;
    border: 2px solid $grey-light;
    @include box-shadow-above($grey-light);

    &:hover {
      transition: all 0.25s ease-out;
      background-color: $grey-light;
      @include box-shadow-above-2($grey-light);
    }

    &:active,
    &:focus {
      background-color: $grey-light;
    }

    &:disabled {
      opacity: 0.8 !important;
    }
  }

  &.tertiary {
    color: $grey;
    background-color: #FFF;
    border: 2px solid #FFF;
    @include box-shadow-above($grey-light);

    &:hover {
      transition: all 0.25s ease-out;
      background-color: #FFF;
      @include box-shadow-above-2($grey-light);
    }

    &:active,
    &:focus {
      background-color: #FFF;
    }

    &:disabled {
      opacity: 0.8 !important;
    }
  }

  &.flat {
    color: $grey-light;
    border: 2px solid $grey-light;
    background-color: #FFF;

    &:hover,
    &:active,
    &:focus {
      color: $grey-light;
      background-color: $grey-light-below-2;
    }
  }

  &.small {
    font-size: 1rem;
    padding: 1em 1.5em;
  }
}


a {
  color: $blue;
  font-size: 1em;

  &:hover,
  &:active,
  &:focus {
    color: $blue;
  }

  &.passive {
    color: $grey-light;
  }
}


.button-group {
  &.or {
    .ui.button {
      padding: 1.2em 2em;
      margin-left: 0;
    }

    .ui.button:first-of-type {
      margin-right: 0;
      border-radius: 2px 0 0 2px;

      &.secondary {
        border-right: none;
      }
    }

    .ui.button:last-of-type {
      margin-right: 0;
      border-radius: 0 2px 2px 0;

      &.secondary {
        border-left: none;
      }
    }
  }
}


.floating-action-button {
  color: #FFF;

  &:hover {
    @for $i from 0 through 4 {
      .button.child:nth-of-type(#{$i}) {
        transition: transform 0.25s ease-out;
        transform: translate3d(-50%, $i * -70%, 0);
      }
    }

    .button .label {
      display: block;
    }
  }

  .button {
    &.main {
      position: relative;
      border-radius: 50%;
      color: #FFF;
      cursor: pointer;
      background-color: $blue;
      @include box-shadow-above(rgba(70, 128, 255, 0.75));
      $size: 50px;
      height: $size;
      width: $size;
      z-index: 1;

      .positioner {
        height: $size;
        width: $size;
      }
    }

    &.child {
      $size: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      transition: transform 0.25s ease-out;
      padding: 15px;

      .positioner {
        border-radius: 50%;
        color: #FFF;
        cursor: pointer;
        background-color: $blue;
        @include box-shadow-above(rgba(70, 128, 255, 0.75));
        height: $size;
        width: $size;
      }

      .label {
        transform: translate3d(-123%, -50%, 0);
      }
    }

    .positioner {
      border-radius: 50%;
      position: relative;
    }

    .icon,
    .loader {
      position: absolute;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    .icon {
      top: 48%;
    }

    .loader {
      top: 50%;
    }

    .label {
      display: none;
      position: absolute;
      top: 50%;
      transform: translate3d(-110%, -50%, 0);
      padding: $distance-default / 2 $distance-default;
      white-space: nowrap;
      background-color: $grey-light;
      font-size: $font-size-below;
      border-radius: $radius-default;
      box-shadow: $box-shadow-below;
    }
  }
}
