.c-card {
  border-radius: $radius-default;
  box-shadow: $box-shadow-below-2;
  padding: $distance-default * 3;
  background: #FFF;

  .card-header {
    position: relative;

    &.has-icon {
      .icon-boxed {
        display: inline-block;
      }

      .card-header-text {
        display: inline-block;
        vertical-align: top;
        padding-left: $distance-default;
        margin-top: 2px;
      }

      .card-headline {
        font-size: $font-size-above;
        font-weight: bold;
        margin-bottom: 1px;
      }

      .card-subtitle {
        color: $grey;
        font-style: italic;
      }

      .card-actions {
        position: absolute;
        right: 0;
        top: 0;
        color: $grey-light;

        .loader {
          position: relative;
          transform: none;
          left: auto;
        }
      }
    }
  }

  .card-body {
    padding-top: $distance-default * 3;
  }
}


.card-group {
  &.row {
    position: relative;
    margin-left: -2%;
    margin-right: -2%;

    &:after {
      content: '';
      display: block;
      height: 0;
      clear: both;
    }

    > .c-card {
      display: inline-block;
      float: left;
      margin: 0 2%;

      &.col-6 {
        width: 46%;
      }
    }
  }
}


.c-card.project-card {
  text-align: center;
  cursor: pointer;

  .name {
    font-weight: bold;
  }

  &.draft {
    .progress-circle {
      background-color: $orange-light;
      background-image: none;
    }
  }


  $circle-height: 120px;
  .circle {
    width: $circle-height;
    text-align: center;
    margin-bottom: $distance-default * 2;
  }

  .progress-circle {
    position: relative;
    width: $circle-height;
    height: $circle-height;
    border-radius: 50%;
    border: 2px solid #FFF;
    background-color: $blue;

    .overlay {
      position: absolute;
      width: $circle-height * 0.86;
      height: $circle-height * 0.87;
      background-color: #FFF;
      border-radius: 50%;
      margin-left: $circle-height * 0.05;
      margin-top: $circle-height * 0.05;
      text-align: center;
      line-height: $circle-height * 0.86;
      font-size: 1.8em;
    }
  }

  $step: 1;
  $loops: round(100 / $step);
  $increment: 360 / $loops;
  $half: round($loops / 2);
  @for $i from 0 through $loops {
    .progress-circle-#{$i*$step} {
      @if $i < $half {
        $nextdeg: 90deg + ( $increment * $i );
        background-image: linear-gradient(90deg, $blue-light 50%, transparent 50%, transparent), linear-gradient($nextdeg, $blue 50%, $blue-light 50%, $blue-light);
      }
      @else {
        $nextdeg: -90deg + ( $increment * ( $i - $half ) );
        background-image: linear-gradient($nextdeg, $blue 50%, transparent 50%, transparent), linear-gradient(270deg, $blue 50%, $blue-light 50%, $blue-light);
      }
    }
  }
}
