.field.date-picker {
  .CalendarDay__selected {
    background: $blue;
    border-color: $blue;
    @include box-shadow-above($blue);
  }

  .DayPickerKeyboardShortcuts_show__bottomRight {
    border-right: 33px solid $blue;
  }

  .CalendarDay__default:hover {
    background-color: $grey-light-below;
    border-color: $grey-light-below;
  }

  .DayPicker_transitionContainer {
    border-radius: $radius-default;
  }

  .DayPicker_weekHeader {
    top: 54px
  }

  .DayPicker__withBorder {
    box-shadow: $box-shadow-below-2;
    border-radius: $radius-default;
  }
}
