.floating-side-bar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 2;
  transform: translateX(250px);
  transition: transform 0.125s ease-out;
  background: #FFF;
  box-shadow: -2px 0 4px 0 $grey-light-below;

  &.is-open {
    transform: translateX(0);
  }

  .item {
    width: 50px;
    height: 50px;
    background: black;
  }
}
