.ui.form {
  .wrapped {
    margin-bottom: 0;
  }

  .ui.segment {
    padding: $distance-default * 3;
  }

  .field {
    position: relative;
    margin-bottom: $distance-default * 1.5;

    input,
    textarea {
      border: 2px solid;
      border-color: $grey-light-below;
      border-radius: $radius-default;
      padding: 1.2em;
      font-weight: 400;

      &:focus {
        border-color: $grey-light;
        transition: border-color 0.125s ease-out;
      }
    }

    .ui.input,
    .SingleDatePickerInput {
      &.icon {
        input {
          padding-left: 4.5em !important;
        }
      }

      i.icon {
        width: 3.2em;
        border-right: 2px solid $grey-light-below;
        color: $grey-light-below;
      }
    }

    .placeholder {
      border: 2px solid transparent;
      padding: 1.2em 0;
      line-height: 1.21428571em;
      cursor: pointer;
    }

    .form-error {
      position: absolute;
      right: -25px;
      top: 46%;
      transform: translateY(-50%);

      &:hover {
        .tooltip {
          display: block;
        }
      }

      .tooltip {
        display: none;
        position: absolute;
        right: 0;
        top: -150%;
        display: inline-block;
        padding: $distance-default / 2 $distance-default;
        background: $red;
        text-align: left;
        border-radius: $radius-default;
        z-index: 1;
        color: #FFF;
        white-space: nowrap;
        box-shadow: 1px 1px 2px $grey-light;

        &:after {
          content: '';
          position: absolute;
          bottom: -4px;
          right: 7px;
          transform: rotate(45deg);
          width: 8px;
          height: 8px;
          background: $red;
        }
      }

      i.icon.remove {
        color: $red;
        cursor: pointer;
      }
    }

    &.has-label {
      .form-error {
        top: 60%;

        .tooltip {
          top: -185%;
        }
      }
    }

    &.space-label {
      margin-top: 22px;
    }

    > label {
      text-transform: uppercase;
    }
  }
}


.field.checkbox {
  .ui.checkbox label {
    margin-top: 15px;
  }
}


.ui.checkbox:not(.toggle) {
  $size: 19px;

  input,
  input:checked {
    ~ label,
    label:active {
      &:before {
        width: $size;
        height: $size;
        border: 2px solid $grey-light-below !important;
      }

      &:after {
        width: $size;
        height: $size;
        color: $blue !important;
        font-size: 15px;
      }
    }
  }
}


.ui.toggle.checkbox {

}


.ui.form {
  .field .Select {
    &.is-focused {
      > .Select-control {
        box-shadow: none;
        border: 2px solid $grey-light;
      }
    }

    .Select-control {
      border: 2px solid $grey-light-below;
      border-radius: $radius-default;
      height: 46.5px;
    }

    .Select-placeholder {
      padding-left: 1.2em;
      line-height: 44px;
    }

    .Select-value {
      padding-left: 1.2em;
      line-height: 42px;
    }

    .Select-input {
      padding-left: 1.2em;
    }

    .Select-clear-zone {
      padding-top: 2px;
      color: $grey-light-below;

      &:hover {
        color: $red;
      }
    }

    .Select-arrow {
      border-top-color: $grey-light-below;
    }

    .Select-arrow-zone:hover {
      .Select-arrow {
        border-top-color: $grey-light;
      }
    }

    .Select-menu-outer {
      border: 2px solid $grey-light;
      border-top: none;
      border-bottom-right-radius: $radius-default;
      border-bottom-left-radius: $radius-default;
    }

    .Select-option {
      padding: 10px 1.2em;
      color: $primary;

      &:hover {
        background-color: $grey-light-below-2;
        color: $primary;
      }

      &.is-focused,
      &.is-selected {
        background-color: $grey-light-below-2;
      }
    }

    input {
      padding: 1.2em 0;
      border: 0 none;
    }
  }
}


.SingleDatePicker {
  position: relative;

  .SingleDatePickerInput_calendarIcon {
    position: absolute;
    right: 0;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);

    svg {
      fill: $blue;
    }
  }
}
