.form-builder {
  .ui.menu {
    background: transparent;
    border: none;
    box-shadow: none;

    .item {
      padding: 1.5em 1.6em;
      border: 2px solid $grey-light;
      border-left: 2px solid transparent;
      border-bottom: none;
      padding: $distance-default * 1.5 $distance-default * 3;
      font-size: 14px;
      font-weight: bold;
      color: $grey-below;

      &:hover {
        color: $grey-below;
      }

      &:first-of-type:not(.active) {
        border-left: 2px solid $grey-light;
      }

      &:first-of-type {
        margin-left: 0 !important;
      }

      &.active {
        color: $primary;
        background-color: #FFF;
        border: 2px solid #FFF;
        border-bottom: 3px solid $blue;
        border-radius: $radius-default $radius-default 0 0;
        margin-left: -2px;
        @include box-shadow-above($grey-light);

        &:hover {
          .page-actions {
            opacity: 1;
            transition: opacity 0.25s ease-out;
          }
        }
      }

      &.add-item {
        border: none;
        font-size: 12px;
        font-weight: normal;
        color: $grey;

        .icon {
          font-size: 14px;
          border-right: none;
        }
      }

      &:before {
        height: 0;
      }
    }
  }

  .segment.tab {
    border: none;
  }

  .page {
    .page-actions {
      padding-top: 28px;
      text-align: right;
    }
  }
}


.form-builder .page {
  @extend .c-card;
}


.form-builder .form-item-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $font-size-above-2;

  .subtitle {
    font-size: $font-size-below;
    color: $grey-below;
    padding-left: $distance-default / 2;
  }

  .item-controls {
    > * {
      margin-left: $distance-default;
    }

    .icon {
      cursor: pointer;
    }
  }
}


.form-builder .section-list {
  .drop-area {
    height: 150px;
    border: 2px dashed $grey-light;
    margin: $distance-default * 3 0;
    border-radius: $radius-default;
  }

  .section {
    margin-top: $distance-default * 3;

    &.is-dragging {
      opacity: 0;
    }

    &.preview {
      max-width: 40vw;
    }
  }

  .drop-target {
    width: 100%;
    height: $distance-default * 3;
    opacity: 0;
    background-color: $blue-light;
    transition: opacity 0.125 ease-out;

    &.active {
      opacity: 1;
      transition: opacity 0.125 ease-out;
    }
  }
}
