.icon-boxed {
  width: $distance-default * 4;
  height: $distance-default * 4;
  border-radius: $radius-default;
  color: #FFF;

  &.blue {
    background: $blue;
    @include box-shadow-above($blue);
  }

  &.red {
    background: $red;
    @include box-shadow-above($red);
  }

  &.orange {
    background: $orange;
    @include box-shadow-above($orange);
  }

  .positioner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate3d(-50%, -50%, 0);
  }
}


.icon.named {
  font-size: $font-size-above-2;
  font-weight: 700;

  .subtitle {
    color: $grey;
    font-weight: 400;
    font-size: 14px;
  }

  .text {
    display: inline-block;
    vertical-align: top;
    padding-left: $distance-default * 2;
  }

  .icon-boxed {
    display: inline-block;
    vertical-align: top;

    .positioner .icon {
      font-size: 1em;
    }
  }
}


.circle-before {
  position: relative;
  padding-left: $distance-default * 2;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $blue;
  }

  &:after {
    content: '';
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFF;
  }

  &.orange {
    &:hover:before {
      background-color: transparent;
      color: $orange;
    }

    &:before {
      background-color: $orange;
    }
  }

  &:hover {
    &:before {
      content: '\f047';
      font-family: Icons;
      background-color: transparent;
      color: $blue;
      width: auto;
      height: auto;
      font-size: $font-size-default;
    }

    &:after {
      display: none;
    }
  }
}
