.ui.message {
  border: 2px solid;
  box-shadow: none;
  padding: 1.15em 1.5em;
  text-align: center;

  .header:not(.ui) {
    font-size: 1em;
    font-weight: 400;
  }

  &.positive,
  &.negative {
    box-shadow: none;
  }

  &.negative {
    color: $red;
    border-color: $red;
    background-color: $red-light;

    .header {
      color: $red;
    }
  }

  &.positive {
    color: $green;
    border-color: $green;
    background-color: $green-light;

    .header {
      color: $green;
    }
  }
}


.error.global {
  position: fixed;
  display: inline-block;
  top: 0;
  left: calc(50% + #{$sidebar-width} / 2);
  transform: translate3d(-50%, -1000%, 0);
  border-radius: $radius-default;
  background: $red;
  color: #FFF;
  padding: $distance-default $distance-default * 2;
  @include box-shadow-above($grey-light);

  &.visible {
    transform: translate3d(-50%, 80px, 0);
    transition-duration: 0.25s;
  }

  .icon {
    padding-left: $distance-default;
  }
}
