.ui.modal {
  $modal-padding: $distance-default * 5 $distance-default * 8;

   &.tiny,
   &.async-confirm {
     width: 480px;
     margin: 0 0 0 -240px;
   }

   > .header {
     padding: $modal-padding;
     border-bottom: none;
     font-size: $font-size-above;
     font-weight: 700;
   }

   &.async-confirm {
     .content {
       margin: $distance-default * 5 0;
     }

     .actions {
       display: flex;
       justify-content: space-between;
       padding: $distance-default * 3 $distance-default * 8;

       > .button:first-of-type {
         margin-left: 0;
       }
     }
   }

   .content {
     padding: $modal-padding;
     padding-top: 0;
     padding-bottom: 0;

     .field {
       margin-bottom: $distance-default * 3;
     }
   }

   .actions {
     padding: $modal-padding;
     background: $grey-light-below;
     border-top: none;

     &.single {
       .button {
         width: 100%;
         margin-left: 0;
       }
     }
   }
}


.ui.dimmer {
  background-color: rgba(0, 0, 0, .55);
}
