.ui.pagination.menu {
  border: $border-default solid $grey-light-below;
  box-shadow: none;

  .item {
    color: $grey-light;

    &:before {
      background: $grey-light-below;
      width: $border-default;
    }

    &:hover {
      background: $grey-light-below-2;
      color: $grey-light;
    }

    &.active {
      color: #FFF;
      background-color: $blue;
      @include box-shadow-above($blue);

      &:before {
        background: $blue;
      }
    }

    &.disabled {
      color: $grey-light-below-2;
    }
  }
}
