.projects {
  .content {
    padding-top: $top-nav-height + $distance-default * 2;
  }

  .project-grid {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;

    .grid-item {
      width: 17%;
      margin-left: calc(15% / 4);
      padding-bottom: $distance-default * 2;
      display: inline-block;

      &.first {
        margin-left: 0;
      }
    }

    .project-card {
      display: inline-block;
      width: 100%;
    }
  }
}
