.sidebar {
  width: $sidebar-width;
  height: 100vh;
  background-color: $grey;
  overflow: hidden;

  .logo {
    height: 60px;
    background: #FFF;
    padding-top: 10px;

    img {
      width: 80%;
      margin: 0 auto;
    }
  }

  .sidebar-main {
    padding: $distance-default * 2;
  }

  .navigation {
    padding-left: 0;
    margin: $distance-default * 2 0;

    a {
      color: #FFF;
    }
  }
}
