.folding-cube {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 27px;
  height: 27px;
  transform: translate3d(-50%, -50%, 0) rotateZ(45deg);

  > div {
    background-color: initial;
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $blue;
      animation: foldCubeAngle 2.4s infinite linear both;
      transform-origin: 100% 100%;
    }

    &:nth-child(2) {
      transform: scale(1.1) rotateZ(90deg);

      &:before {
        animation-delay: 0.3s;
      }
    }

    &:nth-child(4) {
      transform: scale(1.1) rotateZ(180deg);

      &:before {
        animation-delay: 0.6s;
      }
    }

    &:nth-child(3) {
      transform: scale(1.1) rotateZ(270deg);

      &:before {
        animation-delay: 0.9s;
      }
    }
  }
}


@keyframes foldCubeAngle {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
