$distance-default: 10px;

$grey-light-below: #D4D4D4;
$grey-light-below-2: #FBFBFC;
$grey-light: #CCC;
$grey-below: #989898;
$grey: #5F5F5F;

$orange: #FEB64D;
$orange-light: #FFE7C4;
$blue-light: #DBE4FF;
$blue: #4680FF;
$blue-dark: #194E75;
$red: #F6817F;
$red-light: #FFF3F6;
$green: #8EBD8E;
$green-light: #FAFFEEC2;
$primary: #1E2559;

$radius-default: 2px;
$border-default: 2px;
$font-size-below: 12px;
$font-size-default: 14px;
$font-size-above: 16px;
$font-size-above-2: 18px;

$image-base: '../assets';

$box-shadow-below-2: 0px 0px 4px 1px $grey-light;;
$box-shadow-below: 1px 1px 2px $grey-light;
$box-shadow-default: 1px 2px 2px $grey-light;

@mixin box-shadow-above($color) {
  box-shadow: 1px 4px 14px 0px $color;
}

@mixin box-shadow-above-2($color) {
  box-shadow: 1px 4px 30px $color;
}


$top-nav-height: 60px;
$sidebar-width: 230px;
